<div class="container">

  <h2>Mis gastos 1</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo de gasto</th>
        <th scope="col">Categoría</th>
        <th scope="col">Gasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gasto of pageableData.content">
        <td>{{gasto.fecha}}</td>
        <td>{{gasto.tipo_gasto}}</td>
        <td>{{gasto.categorias_gasto.nombre}}</td>
        <td>{{gasto.gasto}}</td>
      </tr>
    </tbody>
  </table>

  <nav *ngIf="pageableData && pageableData.totalPages >= 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="pageableData.first">
        <a class="page-link" href="#" (click)="getPreviousPage()">Previous</a>
      </li>

      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [class.active]="page === pageableData.pageNumber">
          <a class="page-link" href="#" (click)="getPage(page)">
            {{ page + 1 }}
          </a>
        </li>
      </ng-container>

      <li class="page-item" [class.disabled]="pageableData.last">
        <a class="page-link" href="#" (click)="getNextPage()">Next</a>
      </li>
    </ul>
  </nav>

</div>